@model LesGrupo8Bioterio.Elementoequipa
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Elementos de Equipa</a></li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>

<h2>Criar Novo</h2>
<h4>Elemento de Equipa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Nome" data-content="Nome do Elemento de Equipa"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Função" data-content="Função que o elemento de equipa ira executar no Projeto"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="Função" class="control-label"></label>
                <input asp-for="Função" class="form-control" />
                <span asp-validation-for="Função" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Projeto" data-content="Projeto onde o elemento de equipa ira trabalhar"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="ProjetoIdProjeto" class="control-label"></label>
                <select asp-for="ProjetoIdProjeto" class="form-control" asp-items="ViewBag.ProjetoIdProjeto"></select>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioIdFuncionario" class="control-label"></label>
                <select asp-for="FuncionarioIdFuncionario" class="form-control" asp-items="ViewBag.FuncionarioIdFuncionario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
