@model LesGrupo8Bioterio.Ensaio
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="Ensaios" asp-action="Index">Ensaios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h2>Criar</h2>
<h4>Ensaio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Projeto" data-content="Projeto onde o Ensaio irá ser realziado"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="ProjetoIdProjeto" class="control-label"></label>
                <select asp-for="ProjetoIdProjeto" class="form-control" asp-items="ViewBag.ProjetoIdProjeto"></select>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Lote" data-content="Lote que contêm os espécimes que irão fazer parte do ensaio"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="LoteIdLote" class="control-label"></label>
                <select asp-for="LoteIdLote" class="form-control" asp-items="ViewBag.LoteIdLote"></select>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Animais autorizados" data-content="Número de animais autorizados para o Ensaio"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="NroAnimaisAutoriz" class="control-label"></label>
                <input asp-for="NroAnimaisAutoriz" class="form-control" required />
                <span asp-validation-for="NroAnimaisAutoriz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Data de Inicio" data-content="Data na qual se pretende iniciar o Ensaio"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="DataInicio" class="control-label"></label>
                <input type="date" asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Data Final" data-content="Data na qual se preve o término do Ensaio"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="DataFim" class="control-label"></label>
                <input type="date" asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Descrição do Tratamento" data-content="Tratamento que irá ser realizados sobre os espécimes durante o Ensaio"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="DescTratamento" class="control-label"></label>
                <input asp-for="DescTratamento" class="form-control" />
                <span asp-validation-for="DescTratamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Grau de Severidade" data-content="Grau de Severidade do Tratamento realizado"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="GrauSeveridade" class="control-label"></label>
                <input asp-for="GrauSeveridade" class="form-control" />
                <span asp-validation-for="GrauSeveridade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
