@model LesGrupo8Bioterio.AgenteTrat
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
<h4>Agente de Tratamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAgenTra" class="control-label"></label>
                <input asp-for="NomeAgenTra" class="form-control" />
                <span asp-validation-for="NomeAgenTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<!--
<div>
    <a asp-action="Index">Back to List</a>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
