@model LesGrupo8Bioterio.AgenteTrat

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="Tanques" asp-action="Index">Tanques</a></li>
        <li class="breadcrumb-item"><a asp-controller="RegTratamentoes" asp-action="Index">Registo de Tratamentos</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Agentes de Tratamento</a></li>
        <li class="breadcrumb-item active" aria-current="page">Eliminar</li>
    </ol>
</nav>

<h2>Eliminar</h2>

<h3 class="alert alert-danger">
    Tem a certeza que pretende apagar este campo?
</h3>

<div>
    <h4>Agente de Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeAgenTra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeAgenTra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAgenTra" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
