@model LesGrupo8Bioterio.Models.Origem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Origem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoOrigem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoOrigem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOrigem">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
