@model LesGrupo8Bioterio.RegTratamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registar Tratamento</h2>

<hr />
<div class="row table-bordered">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempo" class="control-label"></label>
                <input asp-for="Tempo" class="form-control" />
                <span asp-validation-for="Tempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentracao" class="control-label"></label>
                <input asp-for="Concentracao" class="form-control" />
                <span asp-validation-for="Concentracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalidadeIdFinalidade" class="control-label"></label>
                <select asp-for="FinalidadeIdFinalidade" class ="form-control" asp-items="ViewBag.FinalidadeIdFinalidade"></select>
            </div>
            <div class="form-group">
                <label asp-for="AgenteTratIdAgenTra" class="control-label"></label>
                <select asp-for="AgenteTratIdAgenTra" class ="form-control" asp-items="ViewBag.AgenteTratIdAgenTra"></select>
            </div>
            <div class="form-group">
                <label asp-for="ConcAgenTra" class="control-label"></label>
                <input asp-for="ConcAgenTra" class="form-control" />
                <span asp-validation-for="ConcAgenTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanqueIdTanque" class="control-label"></label>
                <select asp-for="TanqueIdTanque" class ="form-control" asp-items="ViewBag.TanqueIdTanque"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Registar" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
