@model LesGrupo8Bioterio.RegTratamento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>RegTratamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRegTra" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempo" class="control-label"></label>
                <input asp-for="Tempo" class="form-control" />
                <span asp-validation-for="Tempo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concentracao" class="control-label"></label>
                <input asp-for="Concentracao" class="form-control" />
                <span asp-validation-for="Concentracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalidadeIdFinalidade" class="control-label"></label>
                <select asp-for="FinalidadeIdFinalidade" class="form-control" asp-items="ViewBag.FinalidadeIdFinalidade"></select>
                <span asp-validation-for="FinalidadeIdFinalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgenteTratIdAgenTra" class="control-label"></label>
                <select asp-for="AgenteTratIdAgenTra" class="form-control" asp-items="ViewBag.AgenteTratIdAgenTra"></select>
                <span asp-validation-for="AgenteTratIdAgenTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcAgenTra" class="control-label"></label>
                <input asp-for="ConcAgenTra" class="form-control" />
                <span asp-validation-for="ConcAgenTra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanqueIdTanque" class="control-label"></label>
                <select asp-for="TanqueIdTanque" class="form-control" asp-items="ViewBag.TanqueIdTanque"></select>
                <span asp-validation-for="TanqueIdTanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
