@model LesGrupo8Bioterio.RegAmostragens

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>RegAmostragens</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoMedio" class="control-label"></label>
                <input asp-for="PesoMedio" class="form-control" />
                <span asp-validation-for="PesoMedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroIndividuos" class="control-label"></label>
                <input asp-for="NroIndividuos" class="form-control" />
                <span asp-validation-for="NroIndividuos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoTotal" class="control-label"></label>
                <input asp-for="PesoTotal" class="form-control" />
                <span asp-validation-for="PesoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanqueIdTanque" class="control-label"></label>
                <select asp-for="TanqueIdTanque" class ="form-control" asp-items="ViewBag.TanqueIdTanque"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
