<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Bioterio</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <script src="~/js/bootstrap.js"></script>
            <script src="~/js/jquery.js"></script>
            <script src="~/js/bootstrap.bundle.js"></script>
            <script src="~/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/bootstrap.min.js"></script>
        </environment>
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                            <div class="logo"></div>
                        </a>
                    </div>
                    <div style="top: 30px;" class="nav navbar-nav align-middle">
                        <div class="dropdown col-sm-3">
                            <span type="button" data-toggle="dropdown">
                                Projetos
                            </span>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
                                <li><a asp-area="" asp-controller="Elementoequipas" asp-action="Index">Equipas</a></li>
                                <li><a asp-area="" asp-controller="Ensaios" asp-action="Index">Ensaios</a></li>
                            </ul>
                        </div>
                        <div class="dropdown col-sm-3">
                            <span type="button" data-toggle="dropdown">
                                Tanques e Lotes
                            </span>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="CircuitoTanques" asp-action="Index">CircuitoTanques</a></li>
                                <li><a asp-area="" asp-controller="Pla  noAlimentars" asp-action="Index">PlanoAlimentars</a></li>
                                <li><a asp-area="" asp-controller="Lotes" asp-action="Index">Lotes</a></li>
                                <li><a asp-area="" asp-controller="Tanques" asp-action="Index">Tanques</a></li>
                            </ul>
                        </div>
                        <div class="dropdown col-sm-3">
                            <span type="button" data-toggle="dropdown">
                                Funcionarios
                            </span>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="AgenteTrats" asp-action="Index">Agente de tratamento</a></li>
                                <li><a asp-area="" asp-controller="CircuitoTanques" asp-action="Index">Circuito de tanques</a></li>
                                <li><a asp-area="" asp-controller="Elementoequipas" asp-action="Index">Equipas</a></li>
                                <li><a asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionarios</a></li>
                            </ul>
                        </div>
                        <div class="dropdown col-sm-3">
                            <span type="button" data-toggle="dropdown">
                                Registos
                            </span>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="RegAlimentars" asp-action="Index">Registos alimentares</a></li>
                                <li><a asp-area="" asp-controller="RegRemocoes" asp-action="Index">Registo de Remoções</a></li>
                                <li><a asp-area="" asp-controller="RegAmostragens" asp-action="Index">Registos de amostragens</a></li>
                                <li><a asp-area="" asp-controller="RegCondAmbs" asp-action="Index">Registo de condições ambientais</a></li>
                                <li><a asp-area="" asp-controller="RegManutencaos" asp-action="Index">Registo de manutencões</a></li>
                                <li><a asp-area="" asp-controller="RegTratamentoes" asp-action="Index">Registo de tratamentos</a></li>
                                <li><a asp-area="" asp-controller="Motivoes" asp-action="Index">Motivos de remoções</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="tanques.html">Login</a></li>
                            <li><a href="projetos.html">Registo</a></li>
                        </ul>
                        </div>
                    </div>
</nav>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <div class="footer-container">
                    <footer></footer>
                </div>
            </div>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>

            @RenderSection("Scripts", required: false)
        </div>
    </body>
</html>
