@model LesGrupo8Bioterio.Models.Lote

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Lote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdLote" />
            <div class="form-group">
                <label asp-for="CodigoLote" class="control-label"></label>
                <input asp-for="CodigoLote" class="form-control" />
                <span asp-validation-for="CodigoLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNovosAnimaisIdRegAnimal" class="control-label"></label>
                <select asp-for="RegNovosAnimaisIdRegAnimal" class="form-control" asp-items="ViewBag.RegNovosAnimaisIdRegAnimal"></select>
                <span asp-validation-for="RegNovosAnimaisIdRegAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioIdFuncionario" class="control-label"></label>
                <select asp-for="FuncionarioIdFuncionario" class="form-control" asp-items="ViewBag.FuncionarioIdFuncionario"></select>
                <span asp-validation-for="FuncionarioIdFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
