@model LesGrupo8Bioterio.CircuitoTanque

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item active" aria-current="page">Criar</li>
    </ol>
</nav>
<h2>Criar Circuito de Tanques</h2>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Projeto" data-content="Projeto no qual o circuito irá ser utilizado, apenas é possivel associar um Circuito por projeto"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="ProjetoIdProjeto" class="control-label"></label>
                <select asp-for="ProjetoIdProjeto" class="form-control" asp-items="ViewBag.ProjetoIdProjeto"></select>
                <span asp-validation-for="ProjetoIdProjeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Codigo do Circuito" data-content="Codigo pelo qual é identificado o Circuito, este Codigo necessita ser unico"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="CodigoCircuito" class="control-label"></label>
                <input asp-for="CodigoCircuito" class="form-control" />
                <span asp-validation-for="CodigoCircuito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Data de Criação" data-content="Data apartir da qual o Circuito é utilizado no projeto"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="DataCriacao" class="control-label"></label>
                <input type="date" asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Data Final" data-content="Data em que termina a utilização do Circuito no projeto"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="DataFinal" class="control-label"></label>
                <input type="date" asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
