@model LesGrupo8Bioterio.Finalidade

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3 class="alert alert-danger">
    Tem a certeza que pretende apagar este campo?
</h3>

<div>
    <h4>Finalidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TFinalidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TFinalidade)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFinalidade" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
</div>
