@model LesGrupo8Bioterio.Finalidade

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Finalidade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TFinalidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TFinalidade)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdFinalidade">Editar</a>
    <a type="button" class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@Model.IdFinalidade">Eliminar</a>
    <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
</div>
