@model LesGrupo8Bioterio.Models.RegNovosAnimais

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>RegNovosAnimais</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRegAnimal" />
            <div class="form-group">
                <label asp-for="NroExemplares" class="control-label"></label>
                <input asp-for="NroExemplares" class="form-control" />
                <span asp-validation-for="NroExemplares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroMachos" class="control-label"></label>
                <input asp-for="NroMachos" class="form-control" />
                <span asp-validation-for="NroMachos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroFemeas" class="control-label"></label>
                <input asp-for="NroFemeas" class="form-control" />
                <span asp-validation-for="NroFemeas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imaturos" class="control-label"></label>
                <input asp-for="Imaturos" class="form-control" />
                <span asp-validation-for="Imaturos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juvenis" class="control-label"></label>
                <input asp-for="Juvenis" class="form-control" />
                <span asp-validation-for="Juvenis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Larvas" class="control-label"></label>
                <input asp-for="Larvas" class="form-control" />
                <span asp-validation-for="Larvas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ovos" class="control-label"></label>
                <input asp-for="Ovos" class="form-control" />
                <span asp-validation-for="Ovos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc" class="control-label"></label>
                <input asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade" class="control-label"></label>
                <input asp-for="Idade" class="form-control" />
                <span asp-validation-for="Idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PesoMedio" class="control-label"></label>
                <input asp-for="PesoMedio" class="form-control" />
                <span asp-validation-for="PesoMedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompMedio" class="control-label"></label>
                <input asp-for="CompMedio" class="form-control" />
                <span asp-validation-for="CompMedio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracaoViagem" class="control-label"></label>
                <input asp-for="DuracaoViagem" class="form-control" />
                <span asp-validation-for="DuracaoViagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempPartida" class="control-label"></label>
                <input asp-for="TempPartida" class="form-control" />
                <span asp-validation-for="TempPartida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempChegada" class="control-label"></label>
                <input asp-for="TempChegada" class="form-control" />
                <span asp-validation-for="TempChegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroContentores" class="control-label"></label>
                <input asp-for="NroContentores" class="form-control" />
                <span asp-validation-for="NroContentores" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoContentor" class="control-label"></label>
                <input asp-for="TipoContentor" class="form-control" />
                <span asp-validation-for="TipoContentor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolContentor" class="control-label"></label>
                <input asp-for="VolContentor" class="form-control" />
                <span asp-validation-for="VolContentor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolAgua" class="control-label"></label>
                <input asp-for="VolAgua" class="form-control" />
                <span asp-validation-for="VolAgua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroCaixasIsoter" class="control-label"></label>
                <input asp-for="NroCaixasIsoter" class="form-control" />
                <span asp-validation-for="NroCaixasIsoter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroMortosCheg" class="control-label"></label>
                <input asp-for="NroMortosCheg" class="form-control" />
                <span asp-validation-for="NroMortosCheg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SatO2transp" class="control-label"></label>
                <input asp-for="SatO2transp" class="form-control" />
                <span asp-validation-for="SatO2transp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anestesico" class="control-label"></label>
                <input asp-for="Anestesico" class="form-control" />
                <span asp-validation-for="Anestesico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gelo" class="control-label"></label>
                <input asp-for="Gelo" class="form-control" />
                <span asp-validation-for="Gelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdicaoO2" class="control-label"></label>
                <input asp-for="AdicaoO2" class="form-control" />
                <span asp-validation-for="AdicaoO2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arejamento" class="control-label"></label>
                <input asp-for="Arejamento" class="form-control" />
                <span asp-validation-for="Arejamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refrigeracao" class="control-label"></label>
                <input asp-for="Refrigeracao" class="form-control" />
                <span asp-validation-for="Refrigeracao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sedação" class="control-label"></label>
                <input asp-for="Sedação" class="form-control" />
                <span asp-validation-for="Sedação" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespTransporte" class="control-label"></label>
                <input asp-for="RespTransporte" class="form-control" />
                <span asp-validation-for="RespTransporte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecieIdEspecie" class="control-label"></label>
                <input asp-for="EspecieIdEspecie" class="form-control" />
                <span asp-validation-for="EspecieIdEspecie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FornecedorIdFornColect" class="control-label"></label>
                <select asp-for="FornecedorIdFornColect" class="form-control" asp-items="ViewBag.FornecedorIdFornColect"></select>
                <span asp-validation-for="FornecedorIdFornColect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOrigemIdTOrigem" class="control-label"></label>
                <select asp-for="TOrigemIdTOrigem" class="form-control" asp-items="ViewBag.TOrigemIdTOrigem"></select>
                <span asp-validation-for="TOrigemIdTOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalCapturaIdLocalCaptura" class="control-label"></label>
                <input asp-for="LocalCapturaIdLocalCaptura" class="form-control" />
                <span asp-validation-for="LocalCapturaIdLocalCaptura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEstatutoGeneticoIdTipoEstatutoGenetico" class="control-label"></label>
                <select asp-for="TipoEstatutoGeneticoIdTipoEstatutoGenetico" class="form-control" asp-items="ViewBag.TipoEstatutoGeneticoIdTipoEstatutoGenetico"></select>
                <span asp-validation-for="TipoEstatutoGeneticoIdTipoEstatutoGenetico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioIdFuncionario" class="control-label"></label>
                <select asp-for="FuncionarioIdFuncionario" class="form-control" asp-items="ViewBag.FuncionarioIdFuncionario"></select>
                <span asp-validation-for="FuncionarioIdFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncionarioIdFuncionario1" class="control-label"></label>
                <select asp-for="FuncionarioIdFuncionario1" class="form-control" asp-items="ViewBag.FuncionarioIdFuncionario1"></select>
                <span asp-validation-for="FuncionarioIdFuncionario1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
