@model LesGrupo8Bioterio.RegAlimentar
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Editar Registo Alimentar</h2>
<hr />
<div class="row table-bordered">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRegAlim" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sobras" class="control-label"></label>
                <input asp-for="Sobras" class="form-control" />
                <span asp-validation-for="Sobras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanoAlimentarIdPlanAlim" class="control-label"></label>
                <select asp-for="PlanoAlimentarIdPlanAlim" class="form-control" asp-items="ViewBag.PlanoAlimentarIdPlanAlim"></select>
                <span asp-validation-for="PlanoAlimentarIdPlanAlim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TanqueIdTanque" class="control-label"></label>
                <select asp-for="TanqueIdTanque" class="form-control" asp-items="ViewBag.TanqueIdTanque"></select>
                <span asp-validation-for="TanqueIdTanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
