@model LesGrupo8Bioterio.RegCondAmb
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Registo Condição Ambiental</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<h2>Editar Registo Condição Ambiental</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRegCondAmb" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input type="date" asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Temperatura" data-content="Medida numérica que determina o quão quente ou frio está determinado corpo, sistema ou ambiente"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Volume de água" data-content="Quantidade de água em litros "><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="VolAgua" class="control-label"></label>
                <input asp-for="VolAgua" class="form-control" />
                <span asp-validation-for="VolAgua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Salinidade" data-content="Quantidade de Salinidade em %"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="SalinidadeAgua" class="control-label"></label>
                <input asp-for="SalinidadeAgua" class="form-control" />
                <span asp-validation-for="SalinidadeAgua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="NívelO2" data-content="Quantidade de Oxigénio em %"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="NivelO2" class="control-label"></label>
                <input asp-for="NivelO2" class="form-control" />
                <span asp-validation-for="NivelO2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CircuitoTanqueIdCircuito" class="control-label"></label>
                <select asp-for="CircuitoTanqueIdCircuito" class="form-control" asp-items="ViewBag.CircuitoTanqueIdCircuito"></select>
                <span asp-validation-for="CircuitoTanqueIdCircuito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<script>$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
