@model LesGrupo8Bioterio.Tanque

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";//codidenttanque
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Projetoes" asp-action="Index">Projetos</a></li>
        <li class="breadcrumb-item"><a asp-controller="CircuitoTanques" asp-action="Index">Circuito de Tanques</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Tanques</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
</nav>

<h2>Editar Tanque</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTanque" />
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Codigo de Identificação" data-content="Codigo pelo qual o Tanque é Identificado"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="codidenttanque" class="control-label"></label>
                <input asp-for="codidenttanque" class="form-control" />
                <span asp-validation-for="codidenttanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Numero de Animais" data-content="Quantidade de Animáis presentes no Tanque"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="NroAnimais" class="control-label"></label>
                <input asp-for="NroAnimais" class="form-control" />
                <span asp-validation-for="NroAnimais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Sala" data-content="Espaço fisico onde se situa o Tanque"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="Sala" class="control-label"></label>
                <input asp-for="Sala" class="form-control" />
                <span asp-validation-for="Sala" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoteIdLote" class="control-label"></label>
                <select asp-for="LoteIdLote" class="form-control" asp-items="ViewBag.LoteIdLote"></select>
                <span asp-validation-for="LoteIdLote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" data-toggle="popover" title="Circuito" data-content="Circuito de Tanques a qual pertence o Tanque"><span class="glyphicon glyphicon-question-sign"></span></a>
                <label asp-for="CircuitoTanqueIdCircuito" class="control-label"></label>
                <select asp-for="CircuitoTanqueIdCircuito" class="form-control" asp-items="ViewBag.CircuitoTanqueIdCircuito"></select>
                <span asp-validation-for="CircuitoTanqueIdCircuito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-success" />
                <a type="button" class="btn btn-info" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
