@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo ao Ramalhete</h2>
        <img src="~/images/ramalhete3.jpg" alt="" width="100%" height="100%" />
    </div>
    <div class="col-md-4">
        <br />        <br />        <br />        <br />        <br />       
        <p>O Centro do Ramalhete é uma infraestrutura da Universidade do Algarve gerida pelo Centro de Ciências do Mar do Algarve (CCMAR) desde  1994. Esta estação marítima, bastante versátil, possui tanques e aquários para a manutenção de organismos vivos, desde baterias de pequenos tanques até grandes mesocosmos ao ar livre. Acolhe maioritariamente projetos de investigação relacionados com organismos marinhos da sua área geográfica.</p>
    </div>
    <div class="col-md-4">
        <h2>Os Nossos Tanques</h2>
        <img src="~/images/ramalhete2.jpg" alt="" width="100%" height="100%"/>
    </div>
</div>