@model LesGrupo8Bioterio.Motivo
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Página Inicial</a></li>
        <li class="breadcrumb-item"><a asp-controller="Motivo" asp-action="Index">Motivos de Remoções</a></li>
        <li class="breadcrumb-item active" aria-current="page">Apagar Motivo de Remoção</li>
    </ol>
</nav>
<h3 class="alert alert-danger">
    @if (Model.isDeletable) { 
        <ul>
            <li> Tem a certeza que pretende Eliminar este motivo?</li>
        </ul>
    <ul>
        <li id="kk" hidden="hidden">Impossivel eliminar este Motivo</li>
    </ul>
    }
    @if (!Model.isDeletable) { 
        <ul>
            <li> Este Motivo não pode ser apagado devido á existencia de Registo associados</li>
        </ul>
    <ul>
        <li id="kk" hidden="hidden">Impossivel eliminar este Motivo</li>
    </ul>
    }

</h3>
<div class="table-bordered">
    <h4>Motivo</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoMotivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoMotivo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeMotivo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeMotivo)
        </dd>
    </dl>
    @if (Model.isDeletable) { 
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMotivo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a type="button" class="btn btn-info pull-right" asp-action="Index">Cancelar</a>
    </form>
    }
    
</div>
